@import './../../../shared/mixin.component.scss';


.legal-notice {
    @include flexDirectionColumn();
    height: auto;
    gap: 50px;
    margin: 150px 0 100px 0;
}


.header {
    display: flex;
    justify-content: space-between;
}


.close-btn {
    @include dFlexSpace();
    justify-content: center;
    @include btn(45px, 45px);
    >p {
        font-size: 36px;
    }
}


@media (max-width: 576px) {
    .legal-notice {
        >div {
            h2 {
                font-size: 22px;
            }
        }
    }

    .close-btn {
        @include btn(25px, 25px);
        >p {
            font-size: 23px;
        }
    }
}


@media (max-width: 412px) {
    .legal-notice {
        >div {
            h2 {
                font-size: 18px;
            }
        }
    }
}