<div class="legal-notice">
    <div>
        <div class="header">
            <h2>{{'legalNoticeContainer.legalNotice.title' | translate}}</h2>
            <a routerLink="/" routerLinkActive="active" class="close-btn">
                <p>x</p>
            </a>
        </div>
        <br>
        <br>
        <p>Dominik Hucka
            <br>
            Peteräcker 6
            <br>
            72581 Dettingen
            <br>
            Germany
            <br>
            Email: dominikhucka&#64;googlemail.com
        </p>
    </div>

    <div>
        <h2>{{'legalNoticeContainer.responsibleForContent.title' | translate}}</h2>
        <br>
        <p>
            {{'legalNoticeContainer.responsibleForContent.content' | translate}}
        </p>
    </div>

    <div>
        <h2>{{'legalNoticeContainer.disclaimer.title' | translate}}</h2>
        <br>
        <p>
            {{'legalNoticeContainer.disclaimer.content' | translate}}
        </p>
    </div>
    <div>
        <h2>{{'legalNoticeContainer.copyrightNotice.title' | translate}}</h2>
        <br>
        <p>
            {{'legalNoticeContainer.copyrightNotice.content' | translate}}
        </p>
    </div>
</div>