<header class="header">
    <h1>{{'frontend' | translate }}</h1>
    <h1>{{'developer' | translate}}</h1>
</header>


<section class="header-underline">
    <img src="assets/images/header-line.png">
    <span>Dominik Hucka</span>
</section>


<section class="header-mail">
    <a href="#footer">
        <button class="send-message">{{'sendMessage' | translate}}</button>
    </a>
    <div class="email-scroll">
        <div class="email-adress">
            <a href="#contactMe">{{ inintials.emailAdress() }}</a>
        </div>
        <div class="scroll-down">
            <img class="transition-down" src="assets/images/arrow-scroll-down.png">
            <div style="text-align: center;" class="scroll-down-text">
                <span>{{'scroll' | translate}}</span>
                <span>{{'down' | translate}}</span>
            </div>
        </div>
    </div>
</section>