<section class="about-me">
    <h2>About Me</h2>
    <div class="about-me-container">
        <div>
            <span>
                I'm a Front-end developer from Reutlingen, Germany, with a passion for turning creative concepts and business visions into digital reality. Eager to advance my career in web development, I'm seeking opportunities in junior web developer roles. Should my skills align with your project needs, please feel free to reach out to me!
            </span>
            <a href="#footer">
                <button class="lets-talk"> Let's talk</button>
            </a>
        </div>
        <div class="profile-image-container">
           <img src="assets/images/portfolio-color.jpg">
        </div>
    </div>
</section>

