<section class="about-me">
    <h2>{{'aboutMe.title' | translate}}</h2>
    <div class="about-me-container">
        <div>
            <span>
                {{'aboutMe.description' | translate}}
            </span>
            <a href="#contactMe">
                <button class="lets-talk"> {{'letsTalk' | translate}}</button>
            </a>
        </div>
        <div class="profile-image-container">
           <img src="assets/images/portfolio-color.jpg">
        </div>
    </div>
</section>

