<div class="arrow" [class.hovered]="isHovered" (mouseover)="hoverEffect(true)" (mouseleave)="hoverEffect(false)">
    <img src="assets/images/arrow-left.png">
</div>
<div class="my-skills" (mouseover)="hoverEffect(true)" (mouseleave)="hoverEffect(false)">
    <div class="my-skills-text">
        <h2>{{'mySkills' | translate}}</h2>
    </div>
    <div class="border-skills">
        <div class="skills-logo">
            <div class="blue-effect">
                <img class="rotate-image" src="assets/images/angular.png">
                <span class="blue-effect">Angular</span>
            </div>
            <div class="blue-effect">
                <img class="rotate-image" src="assets/images/typescript.png">
                <span class="blue-effect">Typescript</span>
            </div>
            <div class="blue-effect">
                <img class="rotate-image" src="assets/images/javascript.png">
                <span class="blue-effect">JavaScript</span>
            </div>
            <div class="blue-effect">
                <img class="rotate-image" src="assets/images/html.png">
                <span class="blue-effect">HTML</span>
            </div>
            <div class="blue-effect">
                <img class="rotate-image" src="assets/images/css.png">
                <span class="blue-effect">CSS</span>
            </div>
        </div>

        <div class="skills-logo">
            <div class="blue-effect">
                <img class="rotate-image" src="assets/images/firebase.png">
                <span class="blue-effect">Firebase</span>
            </div>
            <div class="blue-effect">
                <img class="rotate-image" src="assets/images/git.png">
                <span class="blue-effect">Git</span>
            </div>
            <div class="blue-effect">
                <img class="rotate-image" src="assets/images/scrum.png">
                <span class="blue-effect">Scrum</span>
            </div>
            <div class="blue-effect">
                <img class="rotate-image" src="assets/images/api.png">
                <span class="blue-effect">Rest-Api</span>
            </div>
            <div class="blue-effect">
                <img class="rotate-image" src="assets/images/material-design.png">
                <span class="blue-effect">Material</span>
                <span class="blue-effect">Design</span>
            </div>
        </div>
    </div>
</div>